<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z_1_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{86,122}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{88,118}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,118}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{84,116}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{84,116}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,266},{78,118}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{78,118}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{80,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{80,120}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{84,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{84,122}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,88},{88,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,120}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,346},{88,116}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{88,116}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,178},{86,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{86,118}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
            <key>z_1_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{84,118}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{84,118}}</string>
                <key>sourceSize</key>
                <string>{90,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f3a2d1038b50085655881638d349c58$</string>
            <key>textureFileName</key>
            <string>zombie.png</string>
        </dict>
    </dict>
</plist>
